django==2.2
django-extensions
django-allauth
sentry-sdk
djangorestframework
markdown
django-filter
django-sql-explorer
djangoql
django-rest-swagger
django-simple-history
ipython
django-environ
psycopg2